{% extends "tareas/base.html" %}

{% block subtitulo %}
    Lista de Clientes
{% endblock subtitulo %}

{% block contenido %}
<div class="container">
    <h1>Lista de Clientes</h1>
    <a href="{% url 'crear_cliente' %}" class="btn btn-secondary">Nuevo Cliente</a>
</div>
<br>

<div class="container">
    <form action="{% url 'buscar_cliente' %}" method="post">
        {% csrf_token %}
        <p>Buscar cliente:</p>
        <input type="text" name="cliente">
        <input type="submit" value="Buscar">    
    </form>
    <a href="{% url 'lista_clientes' %}">Limpiar Filtro</a>
</div>
<br>
<br>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Fecha Alta</th>
            </tr>
        </thead>
        <tbody>        
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellido }}</td>
                <td>{{ cliente.fecha_alta }}</td>  
            </tr>
            {% endfor %}        
        </tbody>
    </table>
</div>
{% endblock contenido %}    